@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --background-rgb: 255, 255, 255;
   --color-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
   :root {
      --color-rgb: 255, 255, 255;
      --background-rgb: 0, 0, 0;
   }
} */

body {
   color: rgb(var(--color-rgb));
   background: rgb(var(--background-rgb));
   overflow: hidden;
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}

::-webkit-scrollbar {
   width: 7px;
   height: 7px;
}

::-webkit-scrollbar-track {
   background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
   background: #555;
}

.ant-drawer-close {
   display: none !important;
}

.adm-calendar-picker-popup {
   z-index: 10000 !important;
}

.adm-button-primary {
   background-color: #355fde !important;
   border-color: #355fde !important;
}
